/*////////////////////////////////////////////////////////////////////////////
    Nome: main.css
    Criadores: Davi josé, David Matheus e Eriksander
    Data de criação: 26/04/2026
    Última modificação: 03/05/2026
    Descrição: Este arquivo contém todas definições de estilo
               do corpo principal dos arquivos HTML principais.
/////////////////////////////////////////////////////////////////////////////*/

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-width: 100vw;

	background-color: #050505;
}

	.main-box {
		flex: 1;
		display: flex;
		flex-direction: column; 
		align-items: center;
		justify-content: center;

		min-width: 80%;
		max-width: 80%;

		background-color: #111111;
		border-left: 1px solid #1a1a1a;
		border-right: 1px solid #1a1a1a;
	}

		.main-text {
			flex: 1;
			display: grid;
			flex-direction: column;
			align-items: start;
			justify-content: top;

			min-width: 90%;
			max-width: 90%;
			height: auto;

			margin-top: 3%;
			margin-bottom: 3%;

			background-color: transparent;
		}

			.main-suggest-grid {
				display: flex;
                align-items: start;
				align-content: space-between;       
				justify-content: space-between;

				width: 100%;
				height: auto;

				margin-bottom: 1%;
			}

			.main-title {
				min-width: 100%;
				max-width: 100%;
				height: auto;

				margin-bottom: 1%;

				text-align: center;
				font-size: 28px;
			}

			.main-subtitle {
				min-width: 100%;
				max-width: 100%;
				height: auto;

				margin-bottom: 3%;

				text-align: center;
				font-size: 24px;
				color: #cbd5e0;
			}

			.main-paragraph {
				min-width: 100%;
				max-width: 100%;
				height: auto;

				margin-bottom: 3%;

				text-align: justify;
				font-size: 20px;
				line-height: 1.6;
			}

			.main-paragraph-center {
				min-width: 100%;
				max-width: 100%;
				height: auto;

				margin-bottom: 3%;

				text-align: center;
				font-size: 20px;
				line-height: 1.6;
			}

            .main-paragraph2 {
				min-width: 100%;
				max-width: 100%;
				height: auto;

				margin-bottom: 1.5%;

				text-align: justify;
				font-size: 20px;
				line-height: 1.6;
			}

			.main-left-title {
				display: flex;
				align-items: center;

				min-width: 100%;
				text-align: left;
				font-size: 28px;
				margin-bottom: 1%;
			}
			
				.main-left-title i {
					font-size: 32px;
				}

			.main-left-subtitle {
				min-width: 100%;
				text-align: left;
				font-size: 24px;
				margin-bottom: 1.5%;
			}

			.main-div {
				width: 100%;
				background-color: #242424;
				border-radius: 25px;
				border: 2px solid #242424;
				margin-top: 0%;
				margin-bottom: 3%;
			}

			.main-grid {
				display: flex;
                align-items: start;
				align-content: space-between;       
				justify-content: space-between;

				width: 100%;
				height: auto;

				margin-bottom: 6%;
			}

			.main-image-small {
				max-width: 15%;
				max-height: 15%;
			}

			.main-image-small-medium {
				max-width: 22.5%;
				max-height: 22.5%;
			}

			.main-image-medium {
				max-width: 30%;
				max-height: 30%;
			}

			.main-image-large {
				max-width: 45%;
				max-height: 45%;
			}

			.main-left-image-text {
				display: flex;
                align-items: start;
				justify-content: space-between;

				text-align: justify;
				font-size: 20px;
				line-height: 1.6;
			}

			.main-banner {
				display: flex;
				align-content: space-between;       
				justify-content: space-between;

				width: 100%;
				min-height: 10%;
				max-height: 100%;
				height: auto;

				margin-bottom: 3%;
			}

                .banner-img {
                    width: 100%;
                    min-height: 10%;
                    max-height: 100%;
                    height: auto;
                    border: 1px solid #1a1a1a;
                }

			.big-depart-icon {
				font-size: 112px;
			}
			
			.main-text-bold {
				font-weight: 800;
			}

			.main-text-red {
				color: rgb(201, 55, 55)
			}

			.main-text-blue {
				color: rgb(0, 81, 255)
			}

			.main-text-green {
				color: rgb(0, 112, 6)
			}

			.main-text-yellow {
				color: rgb(238, 255, 0)
			}

			.main-text-cyan {
				color: rgb(55, 172, 201)
			}

			.main-text-purple {
				color: rgb(68, 0, 255)
			}

			.main-text-pink {
				color: rgb(201, 55, 194)
			}

			.main-text-pinker {
				color: rgb(201, 55, 111)
			}

			.main-text-line-through {
				text-decoration: line-through;
			}

			.main-text-underline {
				text-decoration: underline;
			}

			.main-text-italic {
				font-style: italic;
			}

			.main-text-tnr {
				font-family: 'Times New Roman', Times, serif;
			}